<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" defaultlocale="{def_lang}" id="opera:extension:{name}" version="{version}">
	<name>{name}</name>
	<author href="{homepage}" email="{author_email}">{author}</author>
	<icon src="icon.png"/>
	<content src="background.html" type="text/html" encoding="utf-8"/>
	<feature name="opera:share-cookies" required="false"/>
	<access origin="*" subdomains="true"/>
	<license>{license}. 2020 {author}</license>
	<update-description href="https://drive.google.com/uc?id=0Bx8fnUCX4W2IcmE4LWhybndOMnc&amp;export=download"/>
{locale_info}</widget>
