{
	"env": {
		"browser": true,
		"es6": true
	},
	"globals": {
		"vAPI": true,
		// used instead of "window" if we refer to extension context
		"self": false,
		"chrome": false,
		"safari": false,
		// global wariables in Opera
		"opera": false,
		"widget": false,
		// global variable in Firefox
		"Components": false,
		// global variables in Maxthon
		"mx": false,
		"external": false
	},
	"rules": {
		// Possible Errors
		"comma-dangle": "error",
		"no-cond-assign": "off",
		"no-console": "off",
		"no-constant-condition": "error",
		"no-control-regex": "warn",
		"no-debugger": "warn",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty-character-class": "error",
		"no-empty": "warn",
		"no-ex-assign": "error",
		"no-extra-boolean-cast": "error",
		"no-extra-parens": ["warn", "all", {"nestedBinaryExpressions": false}],
		"no-extra-semi": "error",
		"no-func-assign": "error",
		"no-inner-declarations": ["error", "functions"],
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": ["error", {"skipStrings": false}],
		"no-negated-in-lhs": "error",
		"no-obj-calls": "error",
		"no-prototype-builtins": "error",
		"no-regex-spaces": "warn",
		"no-sparse-arrays": "error",
		"no-unreachable": "error",
		"use-isnan": "error",
		"valid-jsdoc": "off",
		"valid-typeof": "error",
		"no-unexpected-multiline": "error",

		// Best Practices
		"accessor-pairs": ["error", {
			"getWithoutSet": false,
			"setWithoutGet": true
		}],
		"array-callback-return": "error",
		"block-scoped-var": "error",
		"complexity": "off",
		"consistent-return": "error",
		"curly": "error",
		"default-case": "off",
		"dot-notation": "error",
		"dot-location": ["error", "property"],
		"eqeqeq": "error",
		"guard-for-in": "off",
		"no-alert": "warn",
		"no-caller": "error",
		"no-case-declarations": "error",
		"no-div-regex": "error",
		"no-else-return": "warn",
		"no-empty-function": "off",
		"no-empty-pattern": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-extend-native": "warn",
		"no-extra-bind": "error",
		"no-extra-label": "error",
		"no-fallthrough": "warn",
		"no-floating-decimal": "error",
		"no-implicit-coercion": "off",
		"no-implicit-globals": "off",
		"no-implied-eval": "error",
		"no-invalid-this": "off",
		"no-iterator": "error",
		"no-labels": "off",
		"no-lone-blocks": "error",
		"no-loop-func": "warn",
		"no-magic-numbers": "off",
		"no-multi-spaces": "error",
		"no-multi-str": "error",
		"no-native-reassign": "error",
		"no-new-func": "warn",
		"no-new-wrappers": "error",
		"no-new": "error",
		"no-octal-escape": "error",
		"no-octal": "error",
		"no-param-reassign": "warn",
		"no-process-env": "error",
		"no-proto": "error",
		"no-redeclare": "error",
		"no-return-assign": "warn",
		"no-script-url": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-throw-literal": "error",
		"no-unmodified-loop-condition": "warn",
		"no-unused-expressions": ["error", {
			"allowShortCircuit": false,
			"allowTernary": false
		}],
		"no-unused-labels": "error",
		"no-useless-call": "error",
		"no-useless-concat": "error",
		"no-useless-escape": "error",
		"no-void": "off",
		"no-warning-comments": "off",
		"no-with": "error",
		"radix": "error",
		"vars-on-top": "off",
		"wrap-iife": ["warn", "inside"],
		"yoda": "error",

		// Strict Mode
		"strict": ["error", "global"],

		// Variables
		"init-declarations": "off",
		"no-catch-shadow": "error",
		"no-delete-var": "error",
		"no-label-var": "error",
		"no-restricted-globals": "off",
		"no-shadow-restricted-names": "error",
		"no-shadow": "warn",
		"no-undef-init": "error",
		"no-undef": "error",
		"no-undefined": "error",
		"no-unused-vars": "error",
		"no-use-before-define": "warn",

		// Stylistic Issues
		"array-bracket-spacing": ["error", "never"],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs"],
		"camelcase": "error",
		"comma-spacing": ["error", {"before": false, "after": true}],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"consistent-this": ["warn", "that"],
		"eol-last": "error",
		"func-names": "off",
		"func-style": "error",
		"id-length": ["error", {"min": 1, "max": 35}],
		"id-match": "off",
		"id-blacklist": "off",
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"jsx-quotes": "error",
		"key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
		"keyword-spacing": "error",
		"linebreak-style": ["error", "unix"],
		"lines-around-comment": "off",
		"max-depth": ["error", {"max": 5}],
		"max-len": ["warn", {"code": 80, "tabWidth": 4, "ignoreUrls": true}],
		"max-nested-callbacks": ["error", {"max": 3}],
		"max-params": ["error", {"max": 5}],
		"max-statements": "off",
		"max-statements-per-line": ["error", {"max": 1}],
		"new-cap": ["error", {"properties": false}],
		"new-parens": "off",
		"newline-after-var": "off",
		"newline-before-return": "off",
		"newline-per-chained-call": "off",
		"no-array-constructor": "error",
		"no-continue": "off",
		"no-inline-comments": "error",
		"no-lonely-if": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-multiple-empty-lines": ["error", {"max": 2}],
		"no-nested-ternary": "off",
		"no-negated-condition": "error",
		"no-new-object": "error",
		"no-restricted-syntax": ["error",
			"DebuggerStatement",
			"EmptyStatement",
			"WithStatement"
		],
		"no-whitespace-before-property": "error",
		"no-spaced-func": "error",
		"no-ternary": "off",
		"no-trailing-spaces": "error",
		"no-underscore-dangle": "off",
		"no-unneeded-ternary": "error",
		"object-curly-spacing": "error",
		"object-property-newline": "off",
		"one-var": "off",
		"one-var-declaration-per-line": ["error", "initializations"],
		"operator-assignment": ["error", "always"],
		"operator-linebreak": ["error", "before"],
		"padded-blocks": ["error", "never"],
		"quote-props": ["error", "as-needed"],
		"quotes": ["error", "single", "avoid-escape"],
		"require-jsdoc": "off",
		"semi-spacing": ["error", {"before": false, "after": true}],
		"semi": ["error", "always"],
		"sort-vars": "off",
		"sort-imports": "off",
		"space-before-blocks": ["error", "always"],
		"space-before-function-paren": ["error", "never"],
		"space-in-parens": "off",
		"space-infix-ops": "error",
		"space-unary-ops": "error",
		"spaced-comment": ["warn", "always", {"exceptions": ["*", "+", "-"]}],
		"unicode-bom": "error",
		"wrap-regex": "off"

		// Category "ECMAScript 6" is not configured
	}
}
