*.pem
*.bak

/build/
/data/
/tools/
/TODO

/src/*locale*

# oex
/src/config.xml

# crx
/src/manifest.json

# xpi
/src/install.rdf
/src/chrome.manifest

# safariextz
/src/Info.plist
/src/Settings.plist

# mxaddon
/src/def.json

*.safariextension
/meta/safariextz/*
!/meta/safariextz/*.plist

/meta/mxaddon/*
!/meta/mxaddon/*.json
